@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #820300;
  --color-secondary: #B80000;
  --color-tertiary: #FF9800;
  --color-silver: #ececec;
  --color-white: #ffffff;
}

.padding-main{
  padding-left: 280px;
  padding-right: 280px;
}

.loading {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1000;
}